*{ 
    margin: 0px;
    box-sizing: border-box;
}
body{ background-color: white;
      text-align: center;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      
    }
 header{
         background-color: grey;
         color: white;
         text-align: left;
         padding: 2%;   
         font-size: large;
    
    }
 .main{
        display: flex;
        flex: 11;
   

    }
 .left{
     background-color: yellow;
     padding: 40px;
     height: 75vh;   
     margin: 0px;
  
     }
    
main{
    background-color: greenyellow;
    padding: 2%;
    height: 75vh;   
    flex :content;
    
 
}

footer{
    background-color:gray;
    color: white;
    padding: 2%;
    text-align: right;
    margin: 0%;
}
